$primary-color: #3F51B5;
$secondary-color: #4CAF50;
$focus-color: #2196F3;

h1 {
  font-size: 3em;
  color: $primary-color;
  text-align: center;
  margin-bottom: 1em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.3);
  &[role="heading"] {
    role: "heading";
    aria-level: 1;
  }
}

input {
  padding: 1em;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 3px rgba(0,0,0,0.3);
  width: 100%;
  font-size: 1.5em;
  &::placeholder {
    color: $secondary-color;
  }
  &:focus {
    outline: none;
    border-color: $focus-color;
    box-shadow: 0px 0px 3px $focus-color;
  }
  &[role="textbox"] {
    role: "textbox";
    aria-label: "Type a good word for you";
    aria-required: true;
  }
}
